*{
  box-sizing: border-box;
}
body, html {
  height: fit-content;
  width: 100%;
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  
}

#editor-container{
  margin: auto;
  background-color: rgb(132, 200, 223);
  max-width: 600px;
  padding: 0px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 2px 2px 20px 1px hsla(0, 0%, 0%, 40%);
}
#editor-header{
  width: 100%;
  display: flex;
  text-align: start;
  font-weight: 800;
  background-color: rgb(132, 200, 223);
  justify-content: space-between;
  align-items: center;
}
#editor-header p{
  margin-left: 15px;
  margin-top: 9px;
  margin-bottom: 9px;
}
#editor-input{
  font-size: 1rem;
  border: none;
  overflow: auto;
  outline: none;
  resize: vertical;
  width: 100%;
  height: 230px;
  max-width: 596px;
  background-color: rgb(219, 246, 255);
}
.hide-toggle{
  display: block;
  justify-self: center;
  margin-right: 15px;
  visibility: visible;
}
.hide-toggle:hover{
  color: rgb(102, 241, 230);
  cursor: pointer;
}


#preview-container{
  margin: auto;
  background-color: rgb(132, 200, 223);
  max-width: 900px;
  padding: 0px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 2px 2px 20px 1px hsla(0, 0%, 0%, 40%);
}
#preview-header{
  width: 100%;
  display: flex;
  text-align: start;
  font-weight: 800;
  background-color: rgb(132, 200, 223);
  justify-content: space-between;
  align-items: center;
  
}
#preview-header p{
  margin-left: 15px;
  margin-top: 9px;
  margin-bottom: 9px;
}
#preview-output{
  font-size: 1rem;
  margin: 0px;
  width: 100%;
  height: fit-content;
  min-height: 230px;
  max-width: 900px;
  background-color: rgb(219, 246, 255);
  overflow-y: auto;
  line-height: 1.5rem;
}
#preview-output-margin{
  margin-left: 1rem;
  margin-right: 1rem;
}

#preview-output code{
  background-color: white;
}
#preview-output table{
  
  border-collapse: collapse;
}
#preview-output td{
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid rgb(97, 166, 184);
}
#preview-output th{
  padding: 5px;
  border-collapse: collapse;
  box-sizing: border-box;
  border: 2px solid rgb(97, 166, 184);
}
#preview-output blockquote p{
  padding: 0.3rem;
  border-left: 3px solid rgb(97, 166, 184);
  color: rgb(60, 101, 110);
}
#preview-output pre code{
  display:block;
  overflow: auto;
}


#preview-output img{
  max-width: 100%;
  max-height: 100%;
}
#preview-output h1{
  line-height: 2rem;
  border-bottom: 2px solid blue;
  padding-bottom: 0.5rem;
}
#preview-output h2{
  line-height: 2rem;
  border-bottom: 1px solid blue;
  padding-bottom: 0.5rem;
}